<!-- home.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Pokemones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar (ionChange)="filterPokemons($event)"></ion-searchbar>
  <ion-list>
    <ion-item *ngIf="pokemons.length > 0">
      <ion-label>{{ pokemons[0].id }} - {{ pokemons[0].name }}</ion-label>
      <ion-label>{{ pokemons[1].id }} - {{ pokemons[1].name }}</ion-label>

      <ion-label>{{ pokemons[2].id }} - {{ pokemons[2].name }}</ion-label>

    </ion-item>
  </ion-list>
</ion-content>
